// I used this .bg class as the default for each page throught the game,

.bg{
    background : linear-gradient(to bottom, Black 0%, red 100%);
    font-family: monospace;
    text-align-last : center;
    color: gray;
}

.id{
    font-family: monospace;
    text-align-last : center;
    color: white;
}