page-details {

    .bg{
        background : linear-gradient(to bottom, Black 0%, red 100%);
        font-family: monospace;
        text-align-last : center;
        color: gray;
    }

    //Made the scroll visible just on this page
    .scroll-content{
        overflow: scroll;
    }

    .id{
        font-family: monospace;
        text-align-last : center;
        color: black;
    }

}
